<div id="page-content">
    <div v-if="infos == null">
        loading...
    </div>
    <div v-if="infos != null">
        <table class="table">
            <thead>
                <tr>
                    <th>id</th>
                    <th>token</th>
                    <th>time</th>
                    <th>address</th>
                    <th>contact</th>
                    <th>message</th>
                    <th>product</th>
                    <th>builddate</th>
                    <th>version</th>
                    <th>file</th>
                    <th>comment</th>
                    <th>op</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(f, k) in infos">
                    <td>{{f.id}}</td>
                    <td>{{f.token}}</td>
                    <td>{{f.time}}</td>
                    <td>QR: {{f.messageip}}<br />TV: {{f.uploadip}}</td>
                    <td>Name: {{f.name}}<br />Tel: {{f.contact}}</td>
                    <td>{{f.message}}</td>
                    <td>{{f.productname}}</td>
                    <td>{{f.builddate}}</td>
                    <td>{{f.softversion}}</td>
                    <td><a v-bind:href="f.fileurl" v-if="f.filename != null && f.filename != ''">点击下载</a></td>
                    <td></td>
                    <td><button class='btn btn-default'>comment</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
